@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/Metropolis');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/Metropolis-Medium.oft');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/Metropolis-Medium.oft');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Metropolis';
    src: url('../Metropolis-Bold.oft');
    font-weight: 700;
    font-style: normal;
}