// ********************** Breakpoints ******************** //
$minwidth: 320px;
$mw: 1080;
$md1: $mw + 180px;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;

// Colors
$primary: #232427;
$secondary: #5E5C6C;
$secondaryLight: #9998A4;
$neutral: #2962EF;
$neutralDark: #06287c;